* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --main--color: #bc6c25;
    --text--color: #fefae0;
    --detail--color: #55dde0;
}

body {
    /* background-color: var(--main--color); */
}

header {
    background: linear-gradient(to bottom, var(--main--color) 40%, #fff);
    padding: 3rem 0;
    font-size: 4rem;
    text-align: center;
}

h1 {
    color: var(--text--color);
}

.flex {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.btn {
    color: var(--text--color);
    font-weight: bolder;
    text-transform: uppercase;
    background-color: var(--detail--color);
    border: none;
    border-radius: 3px;
    padding: 3px 7px;
    box-shadow: 1px 1px 3px lightblue;
    transition: 1s;
}

.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}